---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "./ui/link.astro";

import { features } from "@utils/features";
---

<div class="my-8">
  <div class="my-8">
    <h1 class="font-semibold text-5xl mb-8">Podemos ayudarte.</h1>
    <Link href="/servicios" style="muted" size="md" class="">
      <Icon name="tabler:click" class="h-4 inline mb-1 pr-1" /> Saber mas
    </Link>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-2 gap-8">
    {
      features.map((item) => (
        <div class="flex items-center">
          <Icon
            class="text-black w-8 h-8"
            name="ic:round-keyboard-arrow-right"
            style="margin: -10px"
          />
          <h3 class="font-normal text-2xl ml-3">{item.title}</h3>{" "}
        </div>
      ))
    }
  </div>
</div>
