---
import Icon from "astro-icon";
import { Picture } from "@astrojs/image/components";
import bgImage from "../assets/Facultad_De_Derecho.jpg";
---

<main class="h-screen">
  <div class="grid lg:grid-cols-2 h-4/5 place-items-center mt-14 lg:mt-2">
    <div>
      <h1 class="hidden lg:flex text-xl lg:text-2xl xl:text-3xl font-light">
        T&A
      </h1>
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        Estudio Jurídico Laboral
      </h1>
      <p class="text-lg mt-2 text-slate-600 max-w-md text-justify">
        Asistencia legal representando a los trabajadores para defender sus
        derechos en todas las instancias administrativas o judiciales.
      </p>
    </div>
    <div class="my-6 md:block max-w-xl">
      <Picture
        src={bgImage}
        alt="Astronaut in the air"
        widths={[800, 1000, 1200]}
        aspectRatio="1:1"
        sizes="(max-width: 1200px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="rounded-3xl border-slate-700 border-[6px]"
      />
    </div>
  </div>
  <div class="hidden lg:flex items-center justify-center mx-auto bottom-0">
    <Icon
      name="ic:outline-keyboard-double-arrow-down"
      class="animate-bounce h-14"
    />
  </div>
</main>
